.portfolio-card__link {
  display: flex;
  flex-direction: column;
  height: 100%;
  text-decoration: none;
  // border-left: 1px solid var(--portfolio-items-border);
  // border-right: 1px solid var(--portfolio-items-border);
  // border-bottom: 1px solid var(--portfolio-items-border);

  @include animation(box-shadow);
  // transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /* transition-delay: 250ms; */
  &:hover,
  &:focus {
    box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06),
      0px 1px 1px 0px rgba(0, 0, 0, 0.12);
  }
}

.portfolio-card-wrap {
  position: relative;
  overflow: hidden;
  z-index: 5;
}

.portfolio-card__overlay {
  position: absolute;
  // display: block;
  @include flexCenter(flex, center, center);
  width: 100%;
  height: 100%;
  background-color: var(--overlay-blue);
  @include animation(transform);
  overflow-y: scroll;

  .portfolio-card__link:hover &,
  .portfolio-card__link:focus & {
    transform: translateY(-100%);
  }
}
.portfolio-card__text {
  margin: 0;
  // padding: 63px 24px;
  padding-left: 24px;
  padding-right: 24px;
  @include font(28px, 0.03em, 400, 18px);

  color: var(--titles-light);
}

.cards-text-wrap {
  padding: 20px 24px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  border-left: 1px solid var(--portfolio-items-border);
  border-right: 1px solid var(--portfolio-items-border);
  border-bottom: 1px solid var(--portfolio-items-border);
  /* outline: 1px solid orange; */
}

.portfolio-card__title {
  margin-top: 0;
  margin-bottom: 4px;
  color: var(--titles-color);
  @include font(36px, 0.06em, 700, 18px);
}

.portfolio-card__description {
  margin: 0;
  color: var(--secondary-color);
  @include font(30px, 0.03em, 400, 16px);
}
