.team-member__meta {
  padding: 30px 32px;
}

.team-member__person {
  margin-top: 0;
  margin-bottom: 10px;
  color: var(--titles-color);
  @include font(19px, 0.03em, 500, 16px);
}
.team-member__position {
  margin: 0 0 16px 0;
  @include font(19px, 0.03em, 400, 16px);
  /* font-weight: 400; */
  color: var(--secondary-color);
}

.socials {
  @include flexCenter(flex, center, null);
}

.socials__item:not(:last-child) {
  margin-right: 10px;
}
