.portfolio-btn {
  border: 0;
  border-radius: 4px;
  padding: 6px 22px;
  background-color: var(--bgc-medium);
  color: var(--titles-color);
  @include font(26px, 0.03em, 500, 16px);
  font-family: inherit;
  text-align: center;
  cursor: pointer;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /* transition-delay: 250ms; */
  &:hover,
  &:focus {
    background-color: var(--accent-color);
    color: var(--bgc-light);
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08),
      0px 3px 1px 0px rgba(0, 0, 0, 0.1);
  }
}

.portfolio-btn--current {
  background-color: var(--accent-color);
  color: var(--bgc-light);
}
