%logo {
  @extend %link;
  display: inline-block;
  font-family: 'Raleway', sans-serif;
  @include font(31px, 0.03em, 700, 26px);
}

.logo--color--perman {
  color: var(--accent-color);
}

.logo__header {
  @extend %logo;
  padding-top: 16px;
  padding-bottom: 16px;
  @media screen and (min-width: 768px) {
    padding-top: 24px;
    padding-bottom: 25px;
  }
  @media screen and (min-width: 1200px) {
    margin-right: 93px;
  }
}

.logo__footer {
  @extend %logo;
  margin-bottom: 20px;
}
