.section-title {
  margin: 0;
  margin-bottom: 30px;
  color: var(--titles-color);
  @include font(33px, 0.03em, 700, 28px);
  text-align: center;
  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
    @include font(42px, 0.03em, 700, 36px);
  }
}

.item-title {
  margin: 0;
  @include font(16px, 0.03em, 700);
  text-transform: uppercase;
  text-align: center;
  @media screen and (min-width: 768px) {
    text-align: left;
  }
}
