:root {
  --accent-color: #2196f3;
  --primary-color: #212121;
  --secondary-color: #757575;
  --titles-color: #212121;
  --titles-light: #ffffff;
  --titles-light-transparency: rgba(255, 255, 255, 0.6);
  --portfolio-items-border: #eeeeee;
  --skills-icon-bgc: #f5f4fa;
  --bgc-dark: #2f303a;
  --bgc-medium: #f5f4fa;
  --bgc-light: #ffffff;
  --bgc-btn-second: #188ce8;
  --bgc-soft-dark: rgba(47, 48, 58, 0.8);
  --icon-primary: #afb1b8;
  --bgc-footer-socials: rgba(255, 255, 255, 0.1);
  --clients-link: #afb1b8;
  --overlay-blue: rgba(33, 150, 243, 0.9);
  --backdrop-bgc: rgba(0, 0, 0, 0.2);
  --input-dark: rgba(255, 255, 255, 0.3);
  --contact-form-main-color: rgba(117, 117, 117, 1);
  --contact-form-sec-color: rgba(117, 117, 117, 0.5);
  --input-border-color: rgba(33, 33, 33, 0.2);
  --header-socials-line-color: rgba(33, 33, 33, 0.2);
}
